### Advanced Numbers

In [191]:
hex(12) # Hexadecimal representation of numbers

'0xc'

In [192]:
bin(1234) # Binary representations of number

'0b10011010010'

In [193]:
pow(2,5) # power

32

In [194]:
pow(2,4,3) # power and module

1

In [195]:
abs(-3) # Absolute value

3

In [196]:
round(3.9) # Redondear

4

In [197]:
round(3.1415, 2) # cantidad de decimales

3.14

### Advanced strings

In [198]:
s = 'hello world'

In [199]:
s.capitalize()

'Hello world'

In [200]:
s.upper()

'HELLO WORLD'

In [201]:
s.lower()

'hello world'

In [202]:
s.count('o') # Count the amounts of x in a string

2

In [203]:
s.find('o') # Returns the index of the first time an element appears on a string

4

In [204]:
s.center(50, '-')

'-------------------hello world--------------------'

In [205]:
print("hello\tworld")

hello	world

In [206]:
s = 'hello'

In [207]:
s.isalnum() # check if is alphanumeric

True

In [208]:
s.isalpha() # if al characters are alphabetic

True

In [209]:
s.isspace() # check if a space exists

False

In [210]:
s.istitle()

False

In [211]:
s.isupper()

False

In [212]:
s.endswith('o') # Verify if item ends with
s[-1] == 'o'

True

In [213]:
s.split('e') # seárate aññ omstamces

['h', 'llo']

In [214]:
s.partition('l') # Separates the first instance

('he', 'l', 'lo')

### Advanced Sets

In [215]:
s = set() # Similar a una lista pero solo acepta valores unicos

In [216]:
s.add(1)

In [217]:
s.add(2)

In [218]:
s

{1, 2}

In [219]:
s.clear() #Empty a set

In [220]:
s = {1,2,3,4,5}

In [221]:
sc = s.copy()

In [222]:
sc

{1, 2, 3, 4, 5}

In [223]:
sc

{1, 2, 3, 4, 5}

In [224]:
s.difference({1,2,3,4})

{5}

In [225]:
set1 = {1,3,5,6,7}
set2 = {1,2,3,4}

In [226]:
set1.difference_update(set2) # Returns set 1 after removing all elements found from set 2

In [227]:
set1

{5, 6, 7}

In [228]:
set1.discard(5)

In [229]:
set1

{6, 7}

In [230]:
s1 = {1,2,3}
s2 = {2,3,4}

In [231]:
s1.intersection(s2) # Found intersection

{2, 3}

In [232]:
s1

{1, 2, 3}

In [233]:
s1.intersection_update(s2)

In [234]:
s1

{2, 3}

In [235]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [236]:
s1.isdisjoint(s2) # No tienen interseccion?

False

In [237]:
s1.isdisjoint(s3) # No tienen interseccion?

True

In [238]:
s1.issubset(s2) # Pertenece?

True

In [239]:
s2.issuperset(s1)

True

In [240]:
s1

{1, 2}

In [241]:
s2

{1, 2, 4}

In [242]:
s1.symmetric_difference(s2)

{4}

In [243]:
s1.union(s2)

{1, 2, 4}

In [244]:
s1.update(s2)

In [245]:
s1

{1, 2, 4}

### Advanced Dictionaries

In [246]:
d = {'k1':1,'k2':2}

In [247]:
{x:x**2 for x in range (10)} # Crear diccionarios por comprension

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [248]:
{k:v**2 for k,v in zip(['a','b','c'],range(3))} # Crear diccionarios por comprension

{'a': 0, 'b': 1, 'c': 4}

In [249]:
d = {'k1':1,'k2':2}

for k in d:
    print(k)

k1
k2

In [250]:
d.values()

dict_values([1, 2])

In [251]:
d.keys()

dict_keys(['k1', 'k2'])

### Advanced Lists

In [272]:
l = [1,2,3]

In [273]:
l.append(4)

In [274]:
l

[1, 2, 3, 4]

In [275]:
l.count(10)

0

In [276]:
l.count(1)

1

In [277]:
x = [1,2,3]
x.append([4,5])

In [278]:
x

[1, 2, 3, [4, 5]]

In [279]:
x = [1,2,3,4,5]
x.extend([1,2,3,4,5])

In [280]:
x

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [281]:
l.index(2) # returns index of item in list

1

In [282]:
l.insert(2, 'inserted') # Insert element on given index
l

[1, 2, 'inserted', 3, 4]

In [283]:
ele = l.pop()

In [284]:
ele

4

In [285]:
l

[1, 2, 'inserted', 3]

In [286]:
l.remove('inserted') # Remove given item from list
#It only removes the first instance

In [287]:
l

[1, 2, 3]