1. Hacer una funcion que reciba un string _name_ e imprima el nombre como "el nombre ingresado es: name"

In [2]:
def name(name=str):
    print(f"el nombre ingresado es: {name}")

name("Lorenzo")

el nombre ingresado es: Lorenzo

2. Hacer una funcion que sume el valor de dos variables

In [4]:
def sum(number_1, number_2):
    print(float(number_1)+float(number_2)) #Uso de float para evitar errores con decimales

3. hacer una funcion que reciba dos variables X e Y, para despues devolver la resta de ambos valores

In [5]:
def rest(x, y):
    return(float(x)-float(y))

4. Hacer una funcion que divida el valor de dos variables

In [7]:
def divide(x, y):
    return(int(x)/int(y))

5. Hacer una funcion que multiplique dos variables

In [9]:
def multiply(x, y):
    return(float(x)*float(y))

6. Hacer una funcion que saque la raiz cuadrada de una variable

In [12]:
# math.sqroot alternative
def sqroot(x):
    return(float(x)/2) 

print(sqroot(16))

8.0

7. Hacer una funcion que calcule la potencia de un valor pasado a los parametros

In [13]:
def potencia(x, y=2): # 2 by default
    return(float(x)**y)

8. Hacer una funcion para verificar si un numero es par

In [16]:
def isOdd(x): # 2 by default
    return True if x%2 == 0 else False

False

9. Crear funcion que reciba un indice junto con un nuevo nombre y modifique el anterior en su posicion

In [19]:
names_list = ["martin", "pedro", "juan", "agustin"]
def replaceName (index_position, new_name):
    names_list[index_position] = new_name

print(f"Before: {names_list}")
print(replaceName(2, "⭐ lorenzo el mejor"))
print(f"After: {names_list}")

Before: ['martin', 'pedro', 'juan', 'agustin']
None
After: ['martin', 'pedro', 'lorenzo el mejor', 'agustin']

10. dada una lista de numeros obtener la suma de todos los elementos

In [20]:
def sum_list(list = []):
    result = 0
    for element in list:
        result += int(element)
    return result

sum_list([1,2,3,4,5,6])

21

11. dado un nombre y un apellido obtener las siguientes variaciones de capitalizacion del nombre completo: 

- nombre apellido
- Nombre Apellido
- NOMBRE APELLIDO

In [37]:
def full_name_capitalization(name = "", surname=""):
    return [(name.capitalize(), surname.capitalize()), (name.upper(),surname.upper()),(name.lower(), surname.lower())]

full_name_capitalization("loReNZo","MaRQuEsInI") # Resultado en tuples

[('Lorenzo', 'Marquesini'),
 ('LORENZO', 'MARQUESINI'),
 ('lorenzo', 'marquesini')]

12. dados dos strings a y b imprimir cual de los dos va primero en orden alfabetico

In [58]:
def sort_string(a,b):
    strings = [a.lower() , b.lower()]
    strings.sort()
    print(f"El primero es {strings[0]}")

sort_string("Aa", "AB")

El primero es aa

13. Hacer una funcion _change_ que dada una compra, recibe un valor pagado y un valor a pagar. Devolver el vuelto.

In [60]:
def change(paid= 0, cost=0):
    return float(cost) - float(paid)

change(5, 5000)

4995.0

14. dada una lista de nombres escribir una funciona que reciba el nombre de usuario e imprima "Registrado" o "No registrado"

In [64]:
names = ["Lorenzo", "Pedro", "Juan"]

def validate_name(name): # Case sensitive
    print ("Registrado" if name in names else "No registrado")

validate_name("Tomas")

No registrado

15. Dado un string obtener usando slicing el primer y ultimo caracter

In [66]:
def first_last_char(string):
    return [string[0], string[-1]]

first_last_char("First and last Character test")

['F', 't']

16. Dados los siguientes costos para las entradas, se requiere saber cuanto debera pagar un adolecente con su abuelo.

In [70]:
def get_price(age):
    if (age <= 4):
        print("Up to 4y")
        return 0
    elif(age <= 17):
        print("From 5 to 17")
        return 50
    elif(age <= 50):
        print("From 18 to 50")
        return 50
    elif(age > 50):
        print("Older than 50")
        return 10
    

def clients_cost(clients_age = []):
    final_cost = 0
    for client in clients_age:
       final_cost += get_price(client)
    return final_cost

clients_cost([16, 70])

From 5 to 17
Older than 50

60

17. Funcion que dado un dia de la semana imprima si..
- Dia laboral
- Dia de fin de semana
- Dia si el dia no e válido

In [75]:
days_dict = {
    "lunes" : "Dia de semana",
    "martes" : "Dia de semana",
    "miercoles" : "Dia de semana",
    "miércoles" : "Dia de semana", # tilde
    "jueves" : "Dia de semana",
    "viernes" : "Dia de semana",
    "sabado" : "Fin de semana",
    "domingo" : "Fin de semana"
}

def check_day(day = ""):
    if day.lower() in days_dict:
        print (days_dict[day.lower()])
    else:
        print("Día no encontrado")

check_day("juEVes")

Dia de semana

18. Escribir una funcion que dado un año determine si es bisiesto

In [79]:
def leap_year(year):
    if(year % 100 == 0):
        print ("Es bisiesto" if year % 400 == 0 else "No es bisiesto")
    else:
        print ("Es bisiesto" if year % 4 == 0 else "No es bisiesto")

leap_year(2023) # no ✅
leap_year(2024) # si ✅

No es bisiesto
Es bisiesto

19. Hacer una funcion que reciba una cantidad de dias y devuelva la cantidad de horas

In [81]:
def days_to_hours(days=0):
    return days*24 if days > 0 else 0

days_to_hours(2)

48

20. Escribir una funcion que reciba altura y largo de un rectangulo y devuelva su perimetro

In [83]:
def find_perimeter(heigth, width):
    return heigth * 2 + width * 2

find_perimeter(4, 6)

20

21. Hacer una funcion que determine si un string es un palidromo

In [110]:
def palindrome(word=""):
    return True if word == word[len(word)::-1] else False

palindrome("neuquen")

True

22. Devolver nombre del mes basado en su numero

In [119]:
months_dict = {
    1 : "Enero",
    2 : "Febrero",
    3 : "Marzo",
    4 : "Abril",
    5 : "Mayo",
    6 : "Junio",
    7 : "Julio",
    8 : "Agosto",
    9 : "Septiembre",
    10 : "Octubre",
    11 : "Noviembre",
    12 : "Diciembre",
}

def check_month(month_number):
   if month_number in months_dict:
    return months_dict[month_number]
   else:
     return 0

check_month(1)

'Enero'

23. Escribir una funcion que dado un string con el nombre del usuario devuelva una contraseña compuesta por las primeras 3 letras de su apellido seguidas de las ultimas 3 letras de su nombre. Si no se cumple el largo acortar todo